
html,body {	
	height: 100%;
	color:#606060;
	font: 12px syhtNormal,"瀵邦喛钂嬮梿鍛寸拨";
}

body{	
	background-color: #f3f3f2;
}
body.nosc  {
	overflow: hidden;
}

*{	
	list-style: none;
}

li {
	text-decoration:none;
}

a {	
	color:#606060;
}
a:hover {	
	color:#606060;
}

button {
	border:0;
    vertical-align: super;
}

input {
    vertical-align: super;
    color:#898989;
    border:1px solid #b3b3b3;
}
input::-webkit-input-placeholder {
	color:#b3b3b3;
	font-size: 12px;
}
input[type="radio"] {
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	display: inline-block;
	font-size: 14px;
	width:14px;
	height: 14px;
	margin-right: 13px;
	vertical-align: sub;
	appearance: none;
	-webkit-appearance: none;
	background-image: url(../../../static/images/ele_icons.png);
	background-repeat: no-repeat;
	background-position: -30px -30px;
	border:0;
}
input[type="radio"][isChoos='true']{
	background-position: -30px -74px;
}
input::-ms-clear { display: none;}
input::-ms-reveal { display: none;}
/* 娑撳濯洪懣婊冨礋 */
select.select_func {	
	height: 30px;
	width:124px;
	line-height: 30px;
	border:0;
	background-color: #f5f5f5;
	color:#898989;
	padding:0 20px 0 10px;
	margin-right: 10px;
	appearance:none;
   -moz-appearance:none;
   -webkit-appearance:none;
	background-image: url(../../../static/images/table_icons.png);
	background-position: 75px -514px;
	background-repeat: no-repeat;
}
select.select_func option {
	background-color: #fff;
	border:1px solid #b3b3b3;
}
/* 婢舵岸锟藉瀵滈柦顔界壉瀵拷  */
.sort_input, .sort_input_all {
	display: inline-block;
	vertical-align: middle;
    width: 14px;
    height: 14px;
    box-shadow: none;
    border-radius: 0;
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance:none;
    margin-right: 4px;
    background-image: url(../../images/table_icons.png);
    background-position: -30px -563px;
    border:0;
    background-repeat:no-repeat;
}
.sort_input input, .sort_input_all input {
	display: inline-block;
	width: 14px;
	height: 14px;
	opacity: 0;
    vertical-align: top;
}
.sort_input[ischecked=true], .sort_input_all[isallcheck=true] {
	background-image: url(../../images/table_icons.png);
    background-position: -31px -603px;
}
select {
	padding-left: 15px;
	background-image: url(../../images/arr_down.png);
	background-position: right center;
	background-repeat: no-repeat;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}
textarea {
	color:#898989
}

/* 閸樺娅庢妯款吇閺嶅嘲绱� */
select::-ms-expand { display: none; }

/***** 閸忚京鏁ら弽宄扮础 *****/
.f_left {	
	float: left;
}
.f_right {	
	float: right;
}
.f_clear {	
	clear:both;
}

/* 閸ф楠囬崗鍐 */
.block_ele {
	display: block;
	margin:0 auto;
}

/* 濞撳懘娅庡ù顔煎З */
.clear_float {
	clear: both;
	padding: 0 !important;
}

/* icons */
.icons {
	width:20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(../../images/table_icons.png);
	background-repeat: no-repeat;
}
.icon_search { /* 閹兼粎鍌� */
	background-position: -30px -75px;
}
.icon_export { /* 鐎电厧鍤� */
	background-position: -30px -120px;
}
.icon_add { /* 婢х偛濮� */
	background-position: -30px -163px;
}
.icon_off_shelf { /* 娑撳鐏� */
	background-position: -30px -205px;
}
.icon_shelves { /* 娑撳﹥鐏� */
	background-position: -30px -251px;
}
.icon_paid { /* 閺�鑸殿儥 */
	background-position: -30px -297px;
}
.icon_sync { /* 閸氬本顒� */
	background-position: -30px -344px;
}
.icon_delete { /* 閸掔娀娅� */
	background-position: -30px -389px;
}
.icon_back { /* 鏉╂柨娲� */
	background-position: -30px -638px;
}
.icon_revise { /* 娣囶喗鏁� */
	background-position: -30px -681px;
}
.icon_confirm{
	background-position: -30px -726px;
}
.icons_express_wx { /* 瀵邦喕淇婇弨顖欑帛 */
	background-position: -30px -772px;
}

/* 娑撴槒顩﹂幐澶愭尦 */
.layui-btn {
	height: 30px;
	line-height: 30px;
	color:#fff;
	border-radius: 4px;
	background-color: #0f904e;
	font-size: 14px;
	transition:background-color 0.3s ease-out;
	-webkit-transition:background-color 0.3s ease-out;
	-moz-transition:background-color 0.3s ease-out;
	-ms-transition:background-color 0.3s ease-out;
	-o-transition:background-color 0.3s ease-out;
	padding:0 15px 0 15px;
}
.layui-btn:hover {
	background-color: #007831;
	opacity: 1;
}
/* 娑撴槒顩﹂幐澶愭尦 鏉╄渹缍� */
.layui-btn.small {
	height: 17px;
	line-height: 17px;
	background-color: #0f904e;
	font-size: 12px;
	color:#fff;
	padding: 0 6px;
	border-radius: 0;
	transition:background-color 0.3s ease-out;
	-webkit-transition:background-color 0.3s ease-out;
	-moz-transition:background-color 0.3s ease-out;
	-ms-transition:background-color 0.3s ease-out;
	-o-transition:background-color 0.3s ease-out;
}
.layui-btn.small:hover {
	background-color: #007831;
}

/* 娑撴槒顩﹂獮鐣屼紥閹稿鎸� */
.layui-btn.plain {
	height: 30px;
	line-height: 30px;
	color:#0f904e;
	background-color: #fff;
	border-radius: 4px;
	font-size: 14px;
	border:1px solid #0f904e;
	padding:0 15px 0 15px;
	transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	margin-left: 0;
}
.layui-btn.plain:hover {
	color:#00783e;
	border:1px solid #00783e;
	background-color: #f3f3f2;
}

/* 鐠�锕�鎲￠幐澶愭尦 鏉╄渹缍� */
.layui-btn.layui-btn-danger.small {
	height: 17px;
	line-height: 17px;
	background-color: #f08200;
	font-size: 12px;
	color:#fff;
	padding: 0 6px;
	border-radius: 0;
	transition:background-color 0.3s ease-out;
	-webkit-transition:background-color 0.3s ease-out;
	-moz-transition:background-color 0.3s ease-out;
	-ms-transition:background-color 0.3s ease-out;
	-o-transition:background-color 0.3s ease-out;
}
.layui-btn.layui-btn-danger.small:hover {
	background-color: #f06600;
}
.layui-btn.layui-btn-danger.plain.small {
	border:1px solid #f08200;
	color:#f08200;
	background-color: #fff;
	padding: 0 6px;
	height: 17px;
	line-height: 17px;
	border-radius: 0;
	font-size: 12px;
	margin:0 auto;
	transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
}
.layui-btn.layui-btn-danger.plain.small:hover {
	color:#f06600;
	border:1px solid #f06600;
	background-color: #f3f3f2;
}
/* 鐠�锕�鎲￠獮鐣屼紥閹稿鎸� */
.layui-btn.layui-btn-danger.plain {
	height: 30px;
	line-height: 30px;
	color:#f08200;
	background-color: #fff;
	border-radius: 4px;
	font-size: 14px;
	border:1px solid #f08200;
	padding:0 15px 0 15px;
	transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	margin-left: 0;
}
.layui-btn.layui-btn-danger.plain:hover {	
	color:#f06600;
	background-color: #f3f3f2;
}

/* 鏉╂柨娲栭幐澶愭尦 */
.layui-btn.layui-btn-back.round {
	height: 30px;
	line-height: 30px;
	width: 80px;
	color:#b3b3b3;
	font-size: 14px;
	background-color: #595959;
	border-radius: 16px;
	cursor:pointer;
	transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
}
.layui-btn.layui-btn-back.round:hover {
	background-color: #232323;
}

/* .layui-btn+.layui-btn */
.layui-btn+.layui-btn {
	margin-left:auto;
}

/* 鐞涖劍鐗� */
.layui-table th {
	border-width:0;
}
.layui-table thead tr {
	background-color: #e7e7e7;
}
.layui-table {
	color:#606060;
}

/*table_group*/
.table_group {
	border-radius: 4px 4px 0 0;
	border:1px solid #e0e0e0;
	margin-top:15px;
}
.table_group .table_header {
	padding-right: 16px;
    background-color: #e7e7e7;
}
.table_group table {	
	width:100%;
	border-bottom:0;
}
.table_header thead {
	background-color: #e7e7e7;
}
.table_header thead th {
	padding:13px 0;
	color:#606060;
	font-size: 14px;
}
.table_header thead th div {
	height: 18px;
	line-height:18px;
	border-right: 1px solid #c1c1c1;	
}
.table_header thead th.no_line div {
	border-right: 0;
	line-height: 20px;
}
.table_group .layui-table {
	margin:0;
}
/*table_group_main*/
.table_group_main {
	padding-bottom:33px;
	border:1px solid #e0e0e0;
	border-radius: 0 0 4px 4px;
	border-top:0;
	background-color: #fff;
}
.table_group_main table {	
	width:100%;
	border-bottom:0;
}
.table_group_main table tr {
	height: 47px;
	line-height: 48px;
	border-bottom:1px solid #f3f3f2;
}
.table_group_main table td{
	color:#898989;
	word-break:break-all;
}
.table_group_main table td div {
	padding:0 2px;
	line-height: 20px;
}
table .tc {
	text-align: center;
}
table .tr {
	text-align: right;
}
table .tl {
	text-align: left;
}
.main_in .layui-table {
	width:100%;
}

/* 閸掑棝銆� */
#pages .layui-laypage {
	margin-top:0;
}
#pages .layui-laypage-prev {
	width:9px;
	height: 20px;
	padding: 0;
	border: 0;
	background-image: url(../../images/table_icons.png);
	background-repeat: no-repeat;
	background-position: -30px -433px;
	padding-right: 15px;
}
#pages .layui-laypage-next {
	width:9px;
	height: 20px;
	padding: 0;
	border: 0;
	background-image: url(../../images/table_icons.png);
	background-repeat: no-repeat;
	background-position: -14px -478px;
	padding-left: 15px;
}
#pages .layui-laypage-last {
	margin-right:1px;
	margin-left: 17px;
}
.layui-laypage a, .layui-laypage span {
	border-radius: 50%;
	color:#b3b3b3;
	height: 20px;
	line-height: 20px;
	min-width:20px;
	padding:0;
	text-align: center;
}
.layui-laypage .layui-laypage-curr {
	margin-right: 17px;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
	border-radius: 50%;
	background-color: #0f904e;
}
.layui-laypage a {
	margin-right: 17px;
}
.layui-laypage a:hover {
	color:#0f904e;
	border: 1px solid #0f904e;
}
.layui-laypage input, .layui-laypage button {
	color:#b3b3b3;
	height: 20px;
	line-height: 20px;
    padding:0 3px;
}
 .layui-laypage select{
	color:#b3b3b3;
	height: 20px;
	line-height: 20px;
	padding-right: 15px;
}
.layui-laypage .layui-laypage-skip {
	width: auto;
	height: 20px;
	line-height: 20px;
}
 .layui-laypage button {
 	color:#fff;
 	background-color: #0f904e;
 	border:0;
 	border-radius: 0;
 	padding:0 6px;
 }
 .layui-laypage button:hover {
 	background-color: #00783e;
 }
#pages .layui-laypage-count {
	width:auto;
}
#pages .layui-laypage .layui-laypage-limits {
	width: auto;
}


/* nothing */
#nothing {
	width:150px;
	height: 150px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-75px;
	margin-top:-75px;
}


/* line_block_gray */
.line_block_gray {
	display: block ;
	width:100%;
	height: 1px;
	background-color: #dcdcdc;
}

/* inlie_block */
body .inlie_block {
	display: inline-block;
	vertical-align: middle;
}

/* search_func */
.search_func {
	min-width:1200px;
}

body .layui-table-cell {
	height: auto;
	line-height: 28px;
	min-height: 28px;
	text-overflow: unset;
	white-space: normal;
	box-sizing: content-box;
	word-wrap: break-word;
}



