<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">

	<aop:aspectj-autoproxy proxy-target-class="true" />
    <!-- 启动自动扫描 -->
    <context:component-scan base-package="com.ak1ak1.*" />
    
    <!-- 注册MVC注解驱动 -->
    <mvc:annotation-driven />
 
    <!-- 静态资源可访问的设置方式 -->
    <mvc:default-servlet-handler />
	 <!-- 加载配置文件 -->
	 <context:property-placeholder location="classpath:application.properties" file-encoding="utf-8"/>
	 
	 <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件最大尺寸，单位为B -->
        <!-- <property name="maxUploadSize" value="1000000000" /> -->
        <property name="maxInMemorySize" value="1000000000"/>
    </bean>

<!--   <import resource="dubbo-consumer.xml"/>   --> 
    <!-- 配置视图解析器，可以显式设置，也可以不设置，不设置会依据SpringMVC的默认设置 -->
    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/" />
        <property name="suffix" value=".jsp" />
    </bean>
    
</beans>