<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ak1ak1.repository.mapper.MysetMapper">


	<select id="getMySets" resultType="com.ak1ak1.entity.MySet">
		select * from my_set
		ORDER BY created desc
	</select>
	
	<select id="getMySetsCount" resultType="int">
		select count(id) from my_set
	</select>
	
	
	
	<!-- 添加视频 -->
	 <insert id="updateVideo" parameterType="com.ak1ak1.entity.MySet">
		insert into my_set
		(course_id,video_name,video_num,video_url,video_status,updated,created)
          values
          (#{course_id},#{video_name},#{video_num},#{video_url},#{video_status},now(),now())
		where video_id in (
			<foreach collection="video_ids" separator="," item="item">
				#{item}
			</foreach>
		)
	</insert>
</mapper>