#header {	
	width:100%;
	height: 60px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(63,63,63,.2);
	-webkit-box-shadow: 0 2px 4px rgba(63,63,63,.2);
	margin-bottom: 10px;
	overflow: hidden;
}

.header_in .hi_left {
	font-size: 0;
}
.header_in .hi_left .header_mune {	
	width:60px;
	height: 60px;
	display: inline-block;
	background-color: #ededed;
	background-position: center;
	border:0;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.header_in .hi_left .header_mune.back {	
	background-color: #0f904e;
	background-image: url(../../images/header_btn2.png);
}	
.header_in .hi_left h1 {
	display: inline-block;
	height: 60px;
	width: 118px;
	overflow: hidden;
	margin:0 10px;
	vertical-align: middle;
}

.header_in .hi_right ul {	
	overflow: hidden;
	margin-top:11px;
}
.header_in .hi_right li {	
	float: left;
	height:28px;
	line-height: 28px;
	color:#898989;
	font-size: 14px;
	padding:5px 14px 5px 26px;
	background-image: url(../../images/header_icons.png);
	background-repeat: no-repeat;
	background-position: -10px -37px;
	position: relative;
	margin-left: 15px;;
}
.header_in .hi_right li a {	
	color:#898989;
}
.header_in .hi_right .Welcoming {	
	padding-left: 48px;
	background-image: url(../../images/header_icons.png);
	background-position: -3px 0;
	margin-right: 1px;
	padding-right: 0;
}
.header_in .hi_right .Welcoming span {
	display:block;
	border-right:1px solid #747474;
	padding-right: 14px;
	position:relative;
}
.header_in .hi_right  .Welcoming i {
	position:absolute;
	right:-2px;
	top:0;
	width: 1px;
	height: 28px;
	background-color: #f2f2f2;
}

.header_in .hi_right .revise_pwd {
	background-position: -11px -73px;
}
.header_in .hi_right .sign_out {
	background-position: -11px -110px;
}
